@page "/"
@rendermode InteractiveServer

<PageTitle>MixAholic</PageTitle>
<button @onclick="OpenCreate">Getränk erstellen</button>
@if (isCreateOpen)
{
	<div>
		<input placeholder="Name" @bind-value=NewMix.Name/>
		<input placeholder="Beschreibung" @bind-value=NewMix.Description/>
		<div>
			<label>Zutaten</label><button @onclick=AddIngredient>+</button>
			@foreach (var ingredient in NewMix.Ingredients)
			{
				<div>
					<input placeholder="Name" @bind-value="ingredient.Name"/>
					<input placeholder="Menge" @bind-value="ingredient.Amount"/>
					<input placeholder="Mengenangabe in..." @bind-value="ingredient.Measurement"/>
					<button @onclick="() => RemoveIngredient(NewMix.Ingredients.IndexOf(ingredient))">-</button>
				</div>

			}
		</div>
		<button @onclick="@(async () => await Save())">Speichern</button>
	</div>	

}

@foreach (var mix in Mixes)
{
	<div @onclick="() => OpenMix(mix.MixID)">
		<h4>@mix.Name</h4>
		<p>@mix.Description</p>
		<p>@mix.RatingStars</p>
	</div>
}